
<div class="landing-page vertical-center">
  <div class="welcome-box">
    <h1>Welcome to Huebook</h1>
    <br>
    <a href="register" class="btn btn-default">Sign up</a>
    <a href="login" class="btn btn-default">Sign in</a>
  </div>
</div
