<div ng-controller="UserSidePaneController" id="hb-user-sidepane">
  <a ng-click="go('profile/' + user.id)" class="hb-user-name">{{ user.first_name }} {{ user.last_name }}</a>

  <img ng-src="{{ user.profile_picture_file_name | profilePic }}" alt="{{ user.name }}" width="260" />
  <br/><br/>
  <button class="btn {{ notifications.count == 0 ? 'btn-default' : 'btn-warning' }} hb-button-wide" type="button">
    Notifications <span class="badge">{{notifications.count}}</span>
  </button>
  <button class="btn {{ messages.count == 0 ? 'btn-defalut' : 'btn-warning' }} hb-button-wide" type="button">
    Messages <span class="badge">{{messages.count}}</span>
  </button>
</div>
