<div class="wall-post panel panel-default">
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <img ng-src="{{ post.user.profile_picture_file_name | profilePic }}" height="30" />&nbsp;
      <a ng-click="go('/profile/' + post.user.id)">
        {{ post.user.first_name }} {{ post.user.last_name }}
      </a>
      <span ng-show="wallType == 'User' && post.user.id != post.wall.id">
        &#8227; <a ng-click="go((post.wall.type == 'user' ? 'profile' : 'events') + '/' + post.wall.id)">
          {{ post.wall.name }}
        </a>
      </span>
      wrote {{ post.created_at | parsePastDate }}
    </div>
    <div class="pull-right">
      <div class="dropdown">
        <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="remove()">Remove</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body">
    {{ post.text }}
  </div>
  <div class="panel-footer">
    <a ng-click="like()" ng-if="!post.user_liked">Hue</a>
    <a ng-click="unlike()" ng-if="post.user_liked">Unhue</a>
    <small ng-if="post.likes_count == 0">({{ post.likes_count }})</small>
    <a ng-click="showLikes()" ng-if="post.likes_count > 0"><small>({{ post.likes_count }})</small></a>

    <a ng-click="share()">Share</a>
    <small ng-if="post.shares_count == 0">({{ post.shares_count }})</small>
    <a ng-click="showShares()" ng-if="post.shares_count > 0"><small>({{ post.shares_count }})</small></a>

    <a ng-click="toggleComments()">Comments</a>
    <small>({{ post.comments_count }})</small>

    <div id="post-{{ post.id }}-comments" ng-show="commentsVisible">
        <div class="panel comments-panel">
          <div class="panel-body">
            <post-comment ng-repeat="comment in comments track by comment.id" ng-controller="CommentController"></post-comment>

            <div class="panel panel-default hb-new-comment">
              <div class="panel-heading">New comment</div>
              <div class="panel-body">
                <form ng-submit="submitComment()" name="new-comment-form">
                <textarea id="hb-new-comment-input" name="new-comment-text" ng-model="newCommentData.comment.text"></textarea><br/>
                <input type="submit" class="btn btn-primary" value="Post" name="new-comment-submit" />
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
