<div id="hb-profile-page">
  <div id="hb-content">

    <div ng-include="'partials/wall.html'">
    </div>

  </div>

  <div id="hb-right-pane">
    <a ng-click="go('profile/' + user.id)" class="hb-user-name">
      {{ user.first_name }} {{ user.last_name }}
    </a>

    <img ng-src="{{ user.profile_picture_file_name | profilePic }}" alt="{{ user.name }}" width="260" />
    <br/><br/>

    <div ng-show="user.is_me">
      <button class="btn {{ notifications.count === 0 ? 'btn-default' : 'btn-warning' }} hb-button-wide" type="button">
        Notifications <span class="badge">{{notifications.count}}</span>
      </button>
      <button class="btn {{ unreadMessagesCount === 0 ? 'btn-default' : 'btn-warning' }} hb-button-wide"
              ng-click="go('/messages')"
              type="button">
        Messages <span class="badge" ng-show="unreadMessagesCount > 0">{{unreadMessagesCount}}</span>
      </button>
      <button class="btn btn-default hb-button-wide" type="button" ng-click="go('/events')">
        Events
      </button>
    </div>
    <div ng-show="!user.is_me">
      <div class="btn btn-default hb-button-wide"
           ng-click="sendFriendRequest()"
           ng-show="user.friendship === null">Send Friend Request
      </div>
      <div class="btn btn-default hb-button-wide"
           disabled="disabled"
           ng-show="user.friendship !== null && user.friendship.status == 'requested' && user.friendship.initiator.id != user.id">
           Friend Request Sent
      </div>
      <div ng-show="user.friendship !== null && user.friendship.status == 'requested' && user.friendship.initiator.id == user.id">
        <p>This used has sent you a friend request.</p>
        <div class="btn btn-default hb-button-wide"
             ng-click="acceptFriend(user.id)">
             <span class="glyphicon glyphicon-ok-sign"></span> Accept
        </div>
        <div class="btn btn-default hb-button-wide"
             ng-click="rejectFriend(user.id)">
             <span class="glyphicon glyphicon-remove-sign"></span> Reject
        </div>
      </div>
      <div class="btn btn-default hb-button-wide"
           ng-click="unfriend()"
           ng-show="user.friendship !== null && user.friendship.status == 'accepted'">
           Unfriend
      </div>

    </div>

    <div class="panel panel-default" 
         ng-show="user.is_me && pendingFriendRequest.length > 0"
         id="hb-friend-reqests-view">
      <div class="panel-heading">Friend requests</div>
      <div class="panel-body">
        <table class="table table-hover table-vcenter">
          <tr ng-repeat="friend in pendingFriendRequest" class="friend-request-row">
            <td width="1"><img ng-src="{{ friend.initiator.profile_picture_file_name | profilePic }}" width="50" class="profile-pic" /></td>
            <td>{{ friend.initiator.first_name }} {{ friend.initiator.last_name }}</td>
            <td width="1">
              <span class="btn btn-default btn-xs" ng-click="acceptFriend(friend.initiator.id)">
                <span class="glyphicon glyphicon-ok-sign"></span>
              </span>
              <span class="btn btn-default btn-xs" ng-click="rejectFriend(friend.initiator.id)">
                <span class="glyphicon glyphicon-remove-sign"></span>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
