/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-modal/css/bootstrap-modal";
@import "eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min";


a {
   cursor: pointer;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#huebook {
    width: 100%;
    height: 100%;
    position: relative;
}

#content {
    min-height: 100%;
    height: 100%;
}

#top-pane {
    width: 100%;
    background: #007143;;
}

#top-pane-content {
    width: 980px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;


    #hblogo {
        float: left;
        display: block;
        background: #243A00;
        color: #FFF;
        height: 34px;
        width: 34px;
        line-height: 34px;
        font-size: 30px;
        border-radius: 10px;
        text-align: center;
    }

    #hb-new-event-btn {
        float: left;
        margin-left: 30px;
    }

    #hblogo:hover {
        text-decoration: none;
        background: #3E6200;
    }

    #hbsearch {
        float: right;
        width: 300px;
    }

    #hb-logout-btn {
        float: right;
        margin-left: 40px;
    }
}

#body {
    width: 980px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100%;
    height: 100%;
}

#footer {
    width: 100%;
    height: 34px;
    background: #5A8B07;
    position: relative;
    bottom: 0;
}

#footer-content {
    width: 980px;
    height: 34px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

    a {
        color: #FFF;
    }
}

#hb-content {
    float: left;
    width: 686px; /* 70% */
    min-height: 100%;
    height: 100%;
}

#hb-right-pane {
    float: right;
    width: 284px;
    background: #E4FBBD;
    border: 1px solid #D2F694;
    border-radius: 5px;
    padding: 10px;
}


.hb-button-wide {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

#hb-new-post {
    text-align: right;
}

#hb-new-post-input {
    width: 100%;
    height: 50px;
}

.hb-post-counter {
   font-size: small;
}

#hb-postinteraction-popup {

    .table tr {
        cursor: pointer;
    }
}

.table-vcenter > tbody > tr > td
{
    vertical-align: middle;
}

.hb-new-comment {

    textarea {
        width: 100%;
    }

    .panel-body {
        text-align: right;
    }
}

.hb-user-preview {

    cursor: pointer;

    img {
        margin-right: 20px;
    }

}

#hb-profile-page {

    width: 100%;

    .hb-user-name {
        display: block;
        text-align: center;
        font-size: 26px;
    }

    #hb-friend-reqests-view {

        .profile-pic {
            margin-right: 5px;
        }
    }
}

.hb-event-preview {
    .panel-heading {
        cursor: pointer;
    }
}

#hb-event-page {

    h2 {
        text-align: center;
    }

    .rsvp {
        text-align: center;
    }

    .hb-event-details {

        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .invite {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;

        .invite-btn {
            width: 235px;
        }
    }

    .rsvps-count {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 262px;
    }
    .rsvp-count {
        width: 65px;
        float: left;
        text-align: center;
    }
}

.modal {
    .modal-body {
        /* Arbitrary number */
        max-height: 500px;
    }

    .modal-header {

        padding-bottom: 5px;

        h1 {
            margin: 0;
            padding: 0;
            display: inline;
        }
    }
}

#hb-messages-page {

    min-height: 100%;
    height: 100%;

    #hb-new-message {

        clear: both;

        textarea {
            width: 100%;
        }

        #send-message-btn {
            position: relative;
            float: right;
        }
    }

    #hb-messages-view {
        height: 75%;
        overflow-y: scroll;
        position: relative;
    }

    .message {
        /*@extend .panel;
        @extend .panel-default;*/
        background-color: 'green';
        width: 400px;
        border: 1px solid #006E4A;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;

        .message-heading {
            width: 308px;
            margin-bottom: 10px;

            .message-heading-line {
                clear: both;
                margin: auto;
                width: 308px;
                height: 1px;
                background-color: "green";
            }
        }
        .message-picture {
            position: relative;
            vertical-align: middle;
            text-align: center;
            width: 80px;

            img {
                margin: auto;
            }
        }
        .message-time {
        }
        .message-from {
            font-weight: bold;
        }
        .message-body {
            margin-top: 5px;
            width: 320px;
        }
    }

    .message-sent {
        float: left;
        clear: both;
        background: #60D4AE;

        .message-heading {
            float: left;
        }
        .message-picture {
            float: left;
        }
        .message-time {
            float: right;
        }
        .message-from {
            float: left;
            text-align: left;
        }
    }

    .message-received {
        float: right;
        clear: both;
        background: #35D4A0;

        .message-heading {
            float: left;
        }
        .message-picture {
            float: right;
        }
        .message-time {
            float: left;
        }
        .message-from {
            float: right;
            text-align: right;
        }
    }
}