
<!DOCTYPE html>
<html>
<head>
  <title>Huebook</title>
  <%= stylesheet_link_tag    'devise', media: 'all' %>
  <%= javascript_include_tag 'index' %>
</head>
<body>
<div id="huebook">
  <div id="top-pane">
    <div id="top-pane-content" class="clearfix">
      <%= link_to 'H', app_path + '#/', id: 'hblogo' %>

    </div>
  </div>
  <div id="bg"></div>

  <%= yield %>

</div>
<script type="text/javascript">
$(function() {
    var pos = 0;
    var wrapPos = - $("#bg").width();
    setInterval(function() {
        pos -= 1;
        if (pos == wrapPos) {
            pos = 0;
        }
        $("#bg").css('backgroundPosition', pos + 'px 0');
    }, 70);
});
</script>
</body>
</html>