<!DOCTYPE html>
<html ng-app="huebook">
<head>
  <title>Huebook</title>
  <%= stylesheet_link_tag    'huebook', media: 'all' %>
  <%= javascript_include_tag 'huebook' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div ng-view>

</div>
</body>
</html>

