<!DOCTYPE html>
<html ng-app="huebook">
<head>
  <title>Huebook</title>
  <%= stylesheet_link_tag    'huebook', media: 'all' %>
  <%= javascript_include_tag 'huebook' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="huebook">
  <div id="top-pane">
    <div id="top-pane-content" class="clearfix">
      <%= link_to 'H', app_path + '#/', id: 'hblogo' %>
      <form id="hb-search-form">
      <div id="hbsearch" class="input-group">
        <input type="text" class="form-control" id="hb-search" placeholder="Search Huebook...">
        <div class="input-group-addon btn btn-default" onclick="$('#hb-search-form').attr('action', '#search/' + $('#hb-search').val()).submit()">
          <span class="glyphicon glyphicon-search"></span>
        </div>
      </div>
      </form>
    </div>
  </div>
  <div id="body">
    <div id="content" ng-view class="clearfix">
    </div>
  </div>
  <div id="footer">
    <div id="footer-content">
      <a href="http://giphy.com/gifs/1333qui7ODRzG0/html5" target="_blank"> Huehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehuehue
      </a>
    </div>
  </div>
</div>
</body>
</html>

