<!DOCTYPE html>
<html>
<head>
  <title>Huebook</title>
  <%= stylesheet_link_tag    'index', media: 'all' %>
  <%= javascript_include_tag 'index' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
