<!DOCTYPE html>
<html>
<head>
  <title>Huebook</title>
  <%= stylesheet_link_tag    'index', media: 'all' %>
  <%= javascript_include_tag 'index' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="bg"></div>

<%= yield %>


<script type="text/javascript">
$(function() {
    var pos = 0;
    var wrapPos = - $("#bg").width();
    setInterval(function() {
        pos -= 1;
        if (pos == wrapPos) {
            pos = 0;
        }
        $("#bg").css('backgroundPosition', pos + 'px 0');
    }, 70);
});
</script>

</body>
</html>
